
@import "utilities/variables";
@import "utilities/extend";
@import "utilities/mixin";
@import "utilities/mapas";
/*-----------------------------------reseteo-----------------------------------*/
*{
    margin: map-get($map: $reseteo, $key: margin-reset);
    padding: map-get($map: $reseteo, $key: padding-reset);
    box-sizing: map-get($map: $reseteo, $key: box-sizing-reset);
    font-family: 'Poppins', sans-serif;
}
/*-----------------------------------Sección Inicio-----------------------------------*/
.contenedor{
    background-color: black;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 12vh auto 50vh 15vh;
    grid-template-areas: 
    "menu menu"
    "principal foto"
    "proceso proceso"
    "footer footer";
    /*---------------menu------------------*/
    .menu{
        @include barra-menu;
        .navbar{
            display: none;
        }
    }
    /*---------------contenido principal------------------*/
    .principal{
        background-color: $color-principal;
        grid-area: principal;
        @extend %flex-row;
        align-items: center;
        padding-bottom: 10%;
        color: $color-secundario;
        .centrado{
            @extend %flex-col;
            @include titulares;
            .botones{
                display: flex;
                width: 100%;
                justify-content: space-between;
                margin-top: 1rem;
                gap: 4%;
                .boton-uno{
                    @include boton-relleno;
                    width: 48%;
                    transition: 0.3s;
                    
                }
                .boton-uno:hover{
                    background-color: $color-hover;
                    transform: scale(1.1)
                }
                .boton-dos{
                    @include boton-vacio;
                    width: 48%;
                    transition: 0.3s;
                }
                .boton-dos:hover{
                    background-color: $color-hover;
                    transform: scale(1.1)
                }
            }

        }
    }
    /*---------------imagen lateral------------------*/
    .foto{
        background-color: bisque;
        grid-area: foto;
        img{
            height: 100%;
            width: 100%
        }
    }
    /*---------------proceso de impresion------------------*/
    .proceso{
        @extend %flex-col;
        background-color: $color-secundario;
        grid-area: proceso;
        .opciones{
            gap: 3rem;
            @extend %flex-row;
            margin: 0rem 3rem;
            div{
                width: (100%/3);
                @extend %flex-col;
                gap: 0.5rem;
                h2{
                    font-size: 1rem;
                    font-weight: bold;
                }
                p{
                    font-size: 0.9rem;
                }

                img{
                    background-color: $color-hover;
                    border-radius: 40px;
                }
            }
        }
        button{
            @include boton-relleno;
            margin-top: 2rem;
            transition: 0.3s;
        }
        button:hover{
            background-color: $color-hover;
            transform: scale(1.1)
        }
    }
    /*---------------footer------------------*/
    @include pie;
}
/*-----------------------------------Sección Servicios-----------------------------------*/
.contenedor-servicios{
    background-color: $color-principal;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 12vh 0.4fr 1.6fr 15vh;
    grid-template-areas: 
    "menu menu"
    "principal principal"
    "proceso proceso"
    "footer footer";
    /*---------------menu------------------*/
    .menu{
        @include barra-menu;
        .navbar{
            display: none;
        }
    }
    /*---------------titulo y descripción------------------*/
    .principal{
        background-color: $color-principal;
        grid-area: principal;
        @extend %flex-row;
        color: $color-secundario;
        .centrado{
            @extend %flex-col;
            @include titulares;
            margin: 1rem 5%;
            max-width: 80rem;
            .botones{
                display: flex;
                width: 100%;
                justify-content: space-between;
                margin-top: 1rem;
                gap: 4%;
            }

        }
    }
    /*---------------tarjetas con servicios------------------*/
    .proceso{
        @extend %flex-col;
        background-color: $color-secundario;
        grid-area: proceso;
        margin: 2rem 10%;
        .opciones{
            @extend %flex-row;
            div{
                width: (100%/3);
                @extend %flex-col;
                gap: 0.5rem;
                padding: 3%;
                border: solid 1px black;
                justify-content: flex-start;
                h2{
                    font-size: 1rem;
                    font-weight: bold;
                }
                p{
                    font-size: 0.9rem;
                }
            }
        }
        button{
            @include boton-relleno;
            margin-top: 2rem
        }
    }
    /*---------------footer------------------*/
    @include pie;
}
/*-----------------------------------Sección Materiales-----------------------------------*/
.contenedor-materiales{
    background-color: $color-principal;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 12vh 1fr 4fr 15vh;
    grid-template-areas: 
    "menu menu"
    "principal principal"
    "grilla-materiales grilla-materiales"
    "footer footer";
    /*---------------menu------------------*/
    .menu{
        @include barra-menu;
        .navbar{
            display: none;
        }
    }
    /*---------------titulo y descripción------------------*/
    .principal{
        background-color: $color-principal;
        grid-area: principal;
        @extend %flex-row;
        color: $color-secundario;
        .centrado{
            @extend %flex-col;
            @include titulares;
            margin: 1rem 5%;
            max-width: 80rem;
        }
    }
    /*---------------cuadricula de tarjetas------------------*/
    .grilla-materiales{
        grid-area: grilla-materiales;
        background-color: $color-principal;
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "img-uno img-dos img-tres"
        "img-cuatro img-cinco img-seis";
        align-items: center;
        justify-items: center;
        justify-self: center;
        gap: 2rem;
        padding: 5rem 0rem;
        .img-uno{
            display: flex;
            align-items: center;
            justify-content: center;
            grid-area: img-uno;
            @include tarjetas;
            background-image: url(../img/pla.jpg);
            p{
                @include titulo-material;
                display: none;
                
            }
        }
        .img-uno:hover{
            background-image: url(../img/pla-filtro.jpg);
            p{
                text-align: center;
                display: contents; 
            }
            
                
        }
        .img-dos{
            display: flex;
            align-items: center;
            justify-content: center;
            grid-area: img-dos;
            @include tarjetas;
            background-image: url(../img/abs.jpg);
            p{
                @include titulo-material;
                display: none;
                
            }
        }
        .img-dos:hover{
            background-image: url(../img/abs-filtro.jpg);
            p{
                text-align: center;
                display: contents; 
            }
            
                
        }
        .img-tres{
            display: flex;
            align-items: center;
            justify-content: center;
            grid-area: img-tres;
            @include tarjetas;
            background-image: url(../img/nylon.jpg);
            p{
                @include titulo-material;
                display: none;
                
            }
        }
        .img-tres:hover{
            background-image: url(../img/nylon-filtro.jpg);
            p{
                text-align: center;
                display: contents; 
            }
            
                
        }
        .img-cuatro{
            display: flex;
            align-items: center;
            justify-content: center;
            grid-area: img-cuatro;
            @include tarjetas;
            background-image: url(../img/tpu.jpg);
            p{
                @include titulo-material;
                display: none;
                
            }
        }
        .img-cuatro:hover{
            background-image: url(../img/tpu-filtro.jpg);
            p{
                text-align: center;
                display: contents; 
            }
            
                
        }
        .img-cinco{
            display: flex;
            align-items: center;
            justify-content: center;
            grid-area: img-cinco;
            @include tarjetas;
            background-image: url(../img/petg.jpg);
            p{
                @include titulo-material;
                display: none;
                
            }
        }
        .img-cinco:hover{
            background-image: url(../img/petg-filtro.jpg);
            p{
                text-align: center;
                display: contents; 
            }
            
                
        }
        .img-seis{
            display: flex;
            align-items: center;
            justify-content: center;
            grid-area: img-seis;
            @include tarjetas;
            background-image: url(../img/recina.jpg);
            p{
                @include titulo-material;
                display: none;
                
            }
        }
        .img-seis:hover{
            background-image: url(../img/recina-filtro.jpg);
            p{
                text-align: center;
                display: contents; 
            }
            
                
        }
        
        
    }
    @include pie;
}
/*-----------------------------------Sección Nosotros-----------------------------------*/
.contenedor-nosotros{
    background-color: $color-secundario;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 12vh auto auto 15vh;
    grid-template-areas: 
    "menu menu"
    "principal foto"
    "formulario formulario"
    "footer footer";
    width: 100%;
    /*---------------menu------------------*/
    .menu{
        @include barra-menu;
        .navbar{
            display: none;
        }
    }
    /*---------------Titulo y descripción------------------*/
    .principal{
        background-color: $color-secundario;
        grid-area: principal;
        @extend %flex-col;
        align-items: flex-start;
        padding-top: 10%;
        width: auto;
        color:black;
        .centrado{
            @extend %flex-col;
            @include titulares;
            .botones{
                display: flex;
                width: 100%;
                justify-content: space-between;
                margin-top: 1rem;
                gap: 4%;
            }

        }
        /*---------------fotos caras------------------*/
        .caras{
            display: flex;
            padding-top: 1rem;
            padding-bottom: 3rem;
            gap: 1rem;
            align-self: center;
            img{
                border-radius: 75px;
                width: 130px;
            }
        }
    }
    /*---------------imagen lateral------------------*/
    .foto{
        background-color: bisque;
        grid-area: foto;
        img{
            height: 100%;
            width: 100%
        }
    }
    /*---------------contenedor formulario------------------*/
    .container-fluid{
        grid-area: formulario;
        margin: 0;
        background-color: $color-principal;
        .formulario{
            @extend %flex-col;
            padding: 5% 15%;
            h2{
                color: $color-secundario;
                text-align: center;
                padding: 2rem;
                
            }
            button {
                @include boton-relleno;
                width: 8rem;
                margin: 2rem;
                transition: 0.3s;
            }
            button:hover{
                background-color: $color-hover;
                transform: scale(1.1)
            }
        }
    }
    @include pie;
}
/*-----------------------------------Sección Cotiza-----------------------------------*/
.contenedor-cotiza{
    background-color: $color-gris;
    display: grid;
    grid-template-columns:1.3fr 0.7fr;
    grid-template-rows: 12vh 1fr 15vh;
    grid-template-areas: 
    "menu menu"
    "principal banner"
    "footer footer";
    /*---------------menu------------------*/
    .menu{
        @include barra-menu;
        .navbar{
            display: none;
        }
    }
    height: 100vh;
    /*---------------titulo y descripción------------------*/
    .principal{
        background-color: $color-secundario;
        grid-area: principal;
        @extend %flex-row;
        align-items: flex-start;
        padding-top: 10%;
        color: black;
        .centrado{
            @include titulares;
            @extend %flex-col;
            .botones{
                display: flex;
                flex-direction: column;
                width: 80%;
                align-self: flex-start;
                .boton1{
                    height: 5rem;
                    width: 100%;
                    border: $color-secundario 3px solid;
                    background-color: $color-gris;
                    margin-bottom: 2rem;
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                    a{
                        text-decoration: none;
                        color: black;
                        font-size: 1rem;
                    }
                }
                .boton2{
                    height: 3rem;
                    width: 60%;
                    border: $color-secundario 3px solid;
                    background-color: $color-gris;
                    a{
                        text-decoration: none;
                        color: black;
                        font-size: 1rem;
                    }
                }
                .boton3{
                    height: 3rem;
                    width: 60%;
                    border: $color-secundario 3px solid;
                    background-color: $color-gris;
                    a{
                        text-decoration: none;
                        color: black;
                        font-size: 1rem;
                    }
                }
            }
        }
        
    }
    /*---------------banner------------------*/
    .banner{
        grid-area: banner;
        @extend %flex-col;
        text-align: center;
        padding: 2.5rem;
        background-color: $color-gris;
        img{
            margin-bottom: 3rem;
        }
        .pregunta{
            font-weight: bold;
        }
        .banner-boton{
            @include boton-relleno;
            margin-top: 2.5rem;
            transition: 0.3s;
        }
        .banner-boton:hover{
            background-color: $color-hover;
            transform: scale(1.1);
        }
    }
    /*---------------footer------------------*/
    @include pie;
}
/*-----------------------------------Media querys dispositivos grandes (1024)-----------------------------------*/
@media screen and (max-width:1024px){
    .contenedor{
        grid-template-columns:1fr 1fr;
        grid-template-rows: 12vh 1fr 1fr 1fr 15vh;
        grid-template-areas: 
        "menu menu"
        "principal principal"
        "foto foto"
        "proceso proceso"
        "footer footer";
        height: 320vh;
    }
    .contenedor-servicios{
        grid-template-rows: 12vh 1fr 4fr 15vh;
        .proceso{
            background-color: $color-principal;
            margin: 0;
            .opciones{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 3rem;
                div{
                    background-color: $color-secundario;
                    width: 80%;

                }
            }
        }
    }
    .contenedor-materiales{
        .grilla-materiales{
            grid-template-columns:1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: 
            "img-uno img-dos"
            "img-tres img-cuatro"
            "img-cinco img-seis"
            ;
        }
    }
    .contenedor-nosotros{
        grid-template-columns:1fr 1fr;
        grid-template-rows: 12vh auto auto auto 15vh;
        grid-template-areas: 
        "menu menu"
        "principal principal"
        "foto foto"
        "formulario formulario"
        "footer footer";
    }
    .contenedor-cotiza{
        grid-template-columns:auto;
        grid-template-rows: 12vh 1fr 1fr 15vh;
        grid-template-areas: 
        "menu"
        "principal"
        "banner"
        "footer";
        height: 210vh;
        .banner{
            img{
                transform: scale(1.1);
                padding-bottom: 2rem;
            } 
        }
    }
}
/*-----------------------------------Media querys dispositivos medianos (768)-----------------------------------*/
@media screen and (max-width:768px){
    .contenedor{
        background-color: $color-secundario;
        grid-template-columns:1fr;
        grid-template-rows: 12vh auto auto auto 15vh;
        grid-template-areas: 
        "menu menu"
        "principal principal"
        "foto foto"
        "proceso proceso"
        "footer footer";
        height: 1500px;
        .menu{
            @include barra-menu;
            .navbar{
                display: contents;
                .container-fluid{
                    padding: 0rem 3rem;
                }
                .bg-nav{
                    background-color: $color-principal;
                }
            }
            .logo-desplegado{
                display: none;
            }
            .desplegado{
                display: none;
            }
        }
        .principal{
            .centrado{
                @include titulares-movil;
                .botones{
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .proceso{
            padding-top: 3rem;
            height: 1200px;
            .opciones{
                flex-direction: column;
                align-items: center;
                transform: scale(1.3);
                width: 70%;
                gap: 1rem;
                div{
                    padding: 5%;
                    width: 80%;
                }
            }
            button{
                margin-bottom: 5rem;
                margin-top: 5rem;
            }
        }
        .foto{
            width: auto;
            height: fit-content;
        }
    }
    .contenedor-servicios{
        .menu{
            @include barra-menu;
            .navbar{
                display: contents;
                .container-fluid{
                    padding: 0rem 3rem;
                }
                .bg-nav{
                    background-color: $color-principal;
                }
            }
            .logo-desplegado{
                display: none;
            }
            .desplegado{
                display: none;
            }
        }
        .principal{
            .centrado{
                @include titulares-movil;
            }
        }
    }
    .contenedor-materiales{
        .menu{
            @include barra-menu;
            .navbar{
                display: contents;
                .container-fluid{
                    padding: 0rem 3rem;
                }
                .bg-nav{
                    background-color: $color-principal;
                }
            }
            .logo-desplegado{
                display: none;
            }
            .desplegado{
                display: none;
            }
        }
        grid-template-rows: 12vh 1fr 9fr 15vh;
        height: 3400px;
        .grilla-materiales{
            gap: 15rem;
            grid-template-columns:1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas: 
            "img-uno"
            "img-dos"
            "img-tres"
            "img-cuatro"
            "img-cinco"
            "img-seis";
            img{
                transform: scale(1.5);
            }
        }
        .principal{
            .centrado{
                @include titulares-movil;
            }
        }
    }
    .contenedor-nosotros{
        .menu{
            @include barra-menu;
            .navbar{
                display: contents;
                .container-fluid{
                    padding: 0rem 3rem;
                }
                .bg-nav{
                    background-color: $color-principal;
                }
            }
            .logo-desplegado{
                display: none;
            }
            .desplegado{
                display: none;
            }
        }
        .principal{
            .centrado{
                @include titulares-movil;
            }
        }
        .formulario{
            padding: 5%;
        }
    }
    .contenedor-cotiza{
        .menu{
            @include barra-menu;
            .navbar{
                display: contents;
                .container-fluid{
                    padding: 0rem 3rem;
                }
                .bg-nav{
                    background-color: $color-principal;
                }
            }
            .logo-desplegado{
                display: none;
            }
            .desplegado{
                display: none;
            }
        }
        .principal{
            .centrado{
                @include titulares-movil;
                .botones{
                    align-self: center;
                    justify-content: center;
                    align-items: center;
                    .boton1{
                        a{
                            font-size: 0.9rem;
                        }
                    }
                    .boton2{
                        a{
                            font-size: 0.9rem;
                        }
                    }
                    .boton3{
                        a{
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
        .banner{
            img{
                width: 50%;
            }
        }
    }
}
/*-----------------------------------Media querys dispositivos pequeños (480)-----------------------------------*/
@media screen and (max-width:480px){
    .contenedor{
        grid-template-rows: 12vh auto auto auto 15vh;
        grid-template-areas: 
        "menu menu"
        "principal principal"
        "foto foto"
        "proceso proceso"
        "footer footer";
        .principal{
            .centrado{
                h1{
                    font-size: 1rem;
                }
                p{
                    font-size: 0.9rem;
                }
                .botones{
                    flex-direction: column;
                    gap: 20px;
                    .boton-uno{
                        @include boton-relleno;
                        width: 150px;
                        font-size: 0.8rem;
                        
                    }
                    .boton-dos{
                        @include boton-vacio;
                        width: 150px;
                        font-size: 0.8rem;
                    } 
                }
            }
        }
        .proceso{
            height: 1000px;
            padding-top: 3rem;
            .opciones{
                flex-direction: column;
                align-items: center;
                transform: scale(1);
                gap: 1rem;
                div{
                    padding: 5%;
                    width: 80%;
                }
            }
            button{
                margin-top: 5rem;
            }
        }
    }
    .contenedor-servicios{
        grid-template-rows: 12vh 1fr 3.3fr 15vh;
    }
    .contenedor-materiales{
        grid-template-rows: 12vh 1fr 9fr 15vh;
        .grilla-materiales{
            grid-template-columns:1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas: 
            "img-uno"
            "img-dos"
            "img-tres"
            "img-cuatro"
            "img-cinco"
            "img-seis";
            height: auto;
            gap: 0rem;
            padding: 0;
            img{
                transform: scale(1.25);
            }
        }
    }
    .contenedor-nosotros{
        .principal{
            .caras{
                gap: 0px;
                img{
                    transform: scale(0.7);
                }
            }
        }
    }
}