@mixin titulares{
    gap: 1rem;
    padding: 1rem 4rem;
    text-align: left;
    h1{
        font-size: 1.7rem;
        align-self: flex-start;
        font-weight: bold;
    }
    p{
        font-size: 1.35rem;
        border-left: solid 3px $color-botones;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
@mixin titulares-movil{
    gap: 1rem;
    padding: 1.5rem;
    text-align: center;
    h1{
        font-size: 1.7rem;
        align-self: center;
        font-weight: bold;
    }
    p{
        font-size: 1.35rem;
        border-top: solid 3px $color-botones;
        border-left: none;
        padding-top: 1rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }
}

@mixin boton-relleno {
    background-color: $color-botones;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    font-weight: bold;
    a{
        text-decoration: none;
        color: $color-secundario;
    }
}
@mixin boton-hover {
    font-size: 1.2rem;
}
@mixin boton-vacio {
    background-color: $color-principal;
    color: $color-secundario;
    border: solid 3px $color-secundario;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    font-weight: bold;
    a{
        text-decoration: none;
        color: $color-secundario;
    }
}

@mixin barra-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $color-principal;
    grid-area: menu;
    a{
        text-decoration: none;
        color: $color-secundario;
    }
    ul{
        display: flex;
        align-items: center;
        gap: 2rem;
        list-style: none;
        color: $color-secundario;
        margin-bottom: 0;
        li{ 
            a:hover{
                padding: 0rem;
                background-color: $color-hover;
                border-radius: 0.5rem;
            }
            button{
                @include boton-relleno;
                transition: 0.3s;
            }
            button:hover{
                background-color: $color-hover;
            }
        }
    }
}

@mixin pie{
    footer{
        @extend %flex-col;
        gap: 0.3rem;
        background-color: $color-principal;
        grid-area: footer;
        color: $color-secundario;
        h3{
            font-size: 0.8rem;
            font-weight: lighter;
        }
    }
}

@mixin tarjetas{
    width: 250px;
    height: 250px;
    border-radius: 125px;
}
@mixin titulo-material{
    color: $color-secundario;
    padding-top: 6rem;
    font-size: 2.5rem;
    text-align: center;
    width: 250px;
    height: 250px;
    border-radius: 125px;
}